html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .nav-item {
        @apply pr-12 font-semibold cursor-pointer hover:text-blue-600 transition ease-in-out duration-300
    }
    .dropdown-item {
        @apply text-sm font-semibold text-black py-2 pl-2 hover:bg-gray-100 w-full
    }
    .dropdown-item-mobile-menu {
        @apply cursor-pointer text-sm font-semibold text-black py-1 pl-2 hover:bg-gray-100 w-full hover:text-blue-600
    }
}